.football {

	@include clearfix;
	width: 800px;
	margin: 0 auto;
	
	&-chart {
		width: 600px;
		float: left;
		// border: solid 1px;
	}

	&-options {
		display: block;
		width: 200px;
		float: left
	}
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}