<section class="football">
	<div class="football-chart"></div>
	<div class="football-options">
		<form ng-submit="footballCtrl.onGetLeagueDataSubmit()"
			class="football-options-league">
			<label for="leagueId"
				class="football-options-league__label">LeagueID:</label>
			<input id="leagueId"
				class="football-options-league__input"
				ng-model="footballCtrl.input.leagueId"
				type="text">
			<button class="btn btn_lg"
				type="submit">Show league</button>
		</form>
		<div class="football-options-chart-type">
			<header class="football-options-chart-type__header">Chart Type</header>
			<button class="btn btn_lg"
				ng-click="footballCtrl.useLineChart()">Line chart</button>
			<button class="btn btn_lg"
				ng-click="footballCtrl.useBarChart()">Bar chart</button>
			<button class="btn btn_lg"
				ng-click="footballCtrl.useDiagram()">Diagram</button>
		</div>
	</div>
</section>
