.football {
	
	@include clearfix;
	width: 800px;
	margin: 0 auto;
	font: 12px BlinkMacSystemFont;
	
	&-chart {
		width: 600px;
		float: left;
	}

	&-options {
		display: block;
		width: 200px;
		float: left;

		&-league {
			@include clearfix;
			font-weight: bold;
			display: block;
			margin-top: 30px;

			&__label {
				margin: 3px 0 0 10px;
				float: left;
			}

			&__input {
				margin-right: 10px;
				width: 100px;
				float: right;

				&:focus {
					outline: none;
				}
			}
		}

		&-chart-type {
			margin-top: 20px;

			&__header {
				text-align: center;
				font-weight: bold;
			}
		}
	}
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}