.profile {
	margin: 0 auto;

	&-avatar {
		width: 800px;
		@include clearfix;

		&-result {
			float: left;
			width: 600px;
			height: 600px;
		}

		&-options {
			display: block;
			float: left;
			width: 200px;

			&__gender {
				margin-top: 50px;
			}
		}
	}
}