.profile {
	margin: 0 auto;

	&-avatar {
		width: 800px;
		@include clearfix;

		&-result {
			float: left;
			width: 600px;
			height: 600px;
		}

		&-options {
			display: block;
			float: left;
			width: 200px;

			&__header {
				text-transform: uppercase;
				text-align: center;
				font-size: 12px;
				font-weight: 700;
			}

			&__gender {
				@include clearfix;
				margin-top: 80px;
			}

			&__eyes {
				@include clearfix;
				margin-top: 20px;
			}

			&__nose {
				@include clearfix;
				margin-top: 20px;
			}

			&__mouth {
				@include clearfix;
				margin-top: 20px;
			}

			&__animate {
				@include clearfix;
				margin-top: 20px;
			}

			&__save {
				@include clearfix;
				margin-top: 20px;
			}
		}
	}
}